* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 16px;
    background-color: #cfd2dd;
}

ul {
    list-style: none;
}


/* Join Page */

.join-container {
    max-width: 500px;
    margin: 80px auto;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: #355ef2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.join-main {
    padding: 30px 40px;
    background: #10235c;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    background-color: #10235c;
    border: #355ef2 solid 2px;
    color: #fff;
}

#username::placeholder {
    color: rgb(231, 230, 230);
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #10235c;
    border: #355ef2 solid 2px;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: #1c3ebb;
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.btn:hover {
    background: #072cb1;
}

/* Chat Page */

.chat-container {
    max-width: 1100px;
    background: transparent;
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: #355ef2;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: #10235c;
    border-bottom: 2px solid #355ef2;
    color: #fff;
    padding: 20px 20px 20px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: #102e9c;
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
    border-bottom: 2px solid #355ef2;
    background: #10235c;
    color: #fff;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background: #355ef2;
    background: #5072eb;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: #0b1d53;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #0225a3;
    opacity: 0.8;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: #10235c;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
    background-color: #10235c;
    border: #355ef2 solid 2px;
    outline: none;
    color: #fff;
}

#msg::placeholder {
    color: rgb(231, 230, 230);
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}


